.cis260specialgreen { 
    color: #4fd0be;
    font-weight: bold
}

#cis-special-parent a { 
color:beige }

#content p { 
    color: blue; 
}


div ul li { 

color : rgb (86, 270, 190)}

body {
    background-color: #ccffff} 
 

